/* Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* Utils */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

/* Generics */
body {
  margin: 2rem;
  font-family: "Montserrat", sans-serif;
}

/* Header */
.flex_button {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;

  button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 0;
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    appearance: none;
    background-color: transparent;
    padding: 1rem;

    i {
      font-size: 1.5rem;
    }
  }
}

/* Cards */
