/* Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* Utils */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header_container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Generics */
body {
  margin: 2rem;
  font-family: "Montserrat", sans-serif;
}

/* Header */
.flex_button {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;

  button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 0;
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    appearance: none;
    background-color: transparent;
    padding: 1rem;

    i {
      font-size: 1.5rem;
    }
  }
}

/* Cards */
.cards_container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 0;
  box-shadow: 0px 0px 15px rgb(0 0 0 / 0.2);
  border-radius: 20px;
  padding: 2.5rem;
  text-align: center;
  min-width: 300px;
}

.title_description {
  text-align: left;
  padding-bottom: 1.5rem;

  h2 {
    font-size: 2rem;
  }

  .description {
    color: grey;
    font-size: 0.8rem;
    font-weight: 500;
  }
}

.amount {
  font-size: 3rem;
  font-weight: 700;
}

.dollar {
  font-weight: 700;
}

.period {
  color: grey;
}

.annual_discount {
  padding: 1.5rem;
  font-weight: 500;
}

.discount {
  background-color: #e3e3e3;
  padding: 0.5rem;
  border-radius: 10px;
}

.select_plan {
  padding: 1.5rem 0;
  display: flex;
}

.select_plan > a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  background-color: #6500ff;
  padding: 1rem 6rem;
  border-radius: 15px;
  flex-grow: 1;
}

.content_list {
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  align-items: flex-start;
  font-weight: 500;

  div i {
    padding-right: 1rem;
    font-size: 1.5rem;
  }
}

/* Second card different parameters */
.second_card{
    background-color: #6500ff;
    color: white;
}

.second_card .select_plan > a {
  text-decoration: none;
  color: #6500ff;
  font-weight: 500;
  background-color: white;
  padding: 1rem 6rem;
  border-radius: 15px;
  flex-grow: 1;
}

.second_card .description {
    color: white;
    font-size: 0.8rem;
    font-weight: 500;
  }

  .second_card .period {
  color: white;
}

.second_card .discount {
  background-color: #e3e3e3;
  color: black;
  padding: 0.5rem;
  border-radius: 10px;
}
